In [1]:
#Setup
import pandas as pd

#Load File
file_to_load = "../HeroesOfPymoli_purchase_data.csv"

#Reading and Storing
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Player Count - Display Total Number of Players
total_players = purchase_data_df["SN"].unique()
total_players_df = pd.DataFrame({"Total Players": [len(total_players)]})
total_players_df

   Total Players
0            576

In [3]:
#Purchasing Analysis (Total) - Calcluate and Display: Number of Unique Items, Average Price, Number of Purchases, and Total Revenue
num_unique_items = purchase_data_df["Item ID"].unique()
total_num_unique_items = len(num_unique_items)

avg_price = purchase_data_df["Price"].mean()
format_avg_price = '${0:,.2f}'.format(avg_price)

num_purchases = purchase_data_df["Purchase ID"].count()

total_revenue = purchase_data_df["Price"].sum()
format_total_revenue = '${0:,.2f}'.format(total_revenue)

purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items": [total_num_unique_items],
    "Average Price": [format_avg_price],
    "Number of Purchases": [num_purchases],
    "Total Revenue": [format_total_revenue]
})
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [4]:
#Gender Demographics - Calculate and Display: Total Count and Percentage for Males, Females, and Other

#Gather Unique SN
unique_purchase_data_df = purchase_data_df.drop_duplicates(subset="SN", keep="first")

#Count gender of unique SN
unique_gender_count_df = pd.DataFrame(unique_purchase_data_df["Gender"].value_counts())

#Change column Title
unique_gender_count_df = unique_gender_count_df.rename(columns={"Gender": "Total Count"})

#Calculate Percentages
percent_players = unique_gender_count_df["Total Count"]/len(total_players)

#Insert Column and format Percentages
unique_gender_count_df["Percentage of Players"] = percent_players
format_unique_gender_count_df = unique_gender_count_df.style.format({'Percentage of Players': '{:.2%}'})
format_unique_gender_count_df

In [5]:
#Purchasing Analysis (Gender) - Calculate and Display: Purchase Count, Average Purchase Price, Total Purchase Value, and Avg Total Purchase per Person
gender_count = purchase_data_df["Gender"].value_counts()

purchasing_analysis_df = purchase_data_df.groupby(["Gender"])

avg_purchase_price = purchasing_analysis_df["Price"].mean()

total_purchase_value = purchasing_analysis_df["Price"].sum()

purchasing_analysis_summary_df = pd.DataFrame({
    "Purchase Count": gender_count,
    "Average Purchase Price": avg_purchase_price,
    "Total Purchase Value": total_purchase_value
})
purchasing_analysis_summary_df["Avg Total Purchase per Person"] = purchasing_analysis_summary_df["Total Purchase Value"] / unique_gender_count_df["Total Count"]
format_purchasing_analysis_summary_df = purchasing_analysis_summary_df.style.format({
    "Average Purchase Price": "${0:,.2f}", 
    "Total Purchase Value": "${0:,.2f}",
    "Avg Total Purchase per Person": "${0:,.2f}"
})
format_purchasing_analysis_summary_df

In [6]:
#Age Demographics

In [7]:
#Purchase Analysis (Age)

In [8]:
#Top Spenders
sn_purchase_count = purchase_data_df["SN"].value_counts()

top_spenders_df = purchase_data_df.groupby(["SN"])

top_avg_purch_price = top_spenders_df["Price"].mean()

top_total_purch_price = top_spenders_df["Price"].sum()

top_spenders_summary_df = pd.DataFrame({
    "Purchase Count": sn_purchase_count,
    "Average Purchase Price": top_avg_purch_price,
    "Total Purchase Value": top_total_purch_price
})

sorted_top_spenders_summary_df = top_spenders_summary_df.sort_values(by="Total Purchase Value", ascending=False).head()

format_sorted_top_spenders_summary_df = sorted_top_spenders_summary_df.style.format({
    "Average Purchase Price": "${0:,.2f}",
    "Total Purchase Value": "${0:,.2f}"
})

format_sorted_top_spenders_summary_df