In [1]:
#Setup
import pandas as pd

#Load File
file_to_load = "../../HeroesOfPymoli_purchase_data.csv"

#Reading and Storing
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Player Count - Display Total Number of Players
total_players = purchase_data_df["SN"].unique()
total_players_df = pd.DataFrame({"Total Players": [len(total_players)]})
total_players_df

   Total Players
0            576

In [3]:
#Purchasing Analysis (Total) - Calcluate and Display: Number of Unique Items, Average Price, Number of Purchases, and Total Revenue
num_unique_items = purchase_data_df["Item ID"].unique()
total_num_unique_items = len(num_unique_items)

avg_price = purchase_data_df["Price"].mean()
format_avg_price = '${0:,.2f}'.format(avg_price)

num_purchases = purchase_data_df["Purchase ID"].count()

total_revenue = purchase_data_df["Price"].sum()
format_total_revenue = '${0:,.2f}'.format(total_revenue)

purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items": [total_num_unique_items],
    "Average Price": [format_avg_price],
    "Number of Purchases": [num_purchases],
    "Total Revenue": [format_total_revenue]
})
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [4]:
#Gender Demographics - Calculate and Display: Total Count and Percentage for Males, Females, and Other

#Gather Unique SN
unique_purchase_data_df = purchase_data_df.drop_duplicates(subset="SN", keep="first")

#Count gender of unique SN
unique_gender_count_df = pd.DataFrame(unique_purchase_data_df["Gender"].value_counts())

#Change column Title
unique_gender_count_df = unique_gender_count_df.rename(columns={"Gender": "Total Count"})

#Calculate Percentages
percent_players = unique_gender_count_df["Total Count"]/len(total_players)

#Insert Column and format Percentages
unique_gender_count_df["Percentage of Players"] = percent_players
format_unique_gender_count_df = unique_gender_count_df.style.format({'Percentage of Players': '{:.2%}'})
format_unique_gender_count_df

In [5]:
#Purchasing Analysis (Gender) - Calculate and Display: Purchase Count, Average Purchase Price, Total Purchase Value, and Avg Total Purchase per Person
gender_count = purchase_data_df["Gender"].value_counts()

purchasing_analysis_df = purchase_data_df.groupby(["Gender"])

avg_purchase_price = purchasing_analysis_df["Price"].mean()

total_purchase_value = purchasing_analysis_df["Price"].sum()

purchasing_analysis_summary_df = pd.DataFrame({
    "Purchase Count": gender_count,
    "Average Purchase Price": avg_purchase_price,
    "Total Purchase Value": total_purchase_value
})
purchasing_analysis_summary_df["Avg Total Purchase per Person"] = purchasing_analysis_summary_df["Total Purchase Value"] / unique_gender_count_df["Total Count"]
format_purchasing_analysis_summary_df = purchasing_analysis_summary_df.style.format({
    "Average Purchase Price": "${0:,.2f}", 
    "Total Purchase Value": "${0:,.2f}",
    "Avg Total Purchase per Person": "${0:,.2f}"
})
format_purchasing_analysis_summary_df

In [6]:
#Age Demographics

#Bins and Labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Create new Column with bins/labels
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels=age_labels, include_lowest=True)

#Remove duplicate SNs and group by new Age Ranges
unique_age_dems_df = purchase_data_df.drop_duplicates(subset="SN", keep="first")
age_dems_df = unique_age_dems_df.groupby("Age Range")

#Calculate and Add Total Count Column
count_age_dems_df = pd.DataFrame(age_dems_df["Age Range"].count())
count_age_dems_df = count_age_dems_df.rename(columns={"Age Range": "Total Count"})

#Calculate Percentages and Insert Column w/ Format
percent_players_age = count_age_dems_df["Total Count"]/len(total_players)
count_age_dems_df["Percentage of Players"] = percent_players_age.map('{:.2%}'.format)

#Run Code
count_age_dems_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [10]:
#Purchase Analysis (Age)

#Bins and Labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Create new Column with bins/labels
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels=age_labels, include_lowest=True)

age_purchase_count = 
purchasing_analysis_age_df = purchase_data_df.groupby("Age Range")

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

In [8]:
#Top Spenders
sn_purchase_count = purchase_data_df["SN"].value_counts()

top_spenders_df = purchase_data_df.groupby(["SN"])

top_avg_purch_price = top_spenders_df["Price"].mean()

top_total_purch_price = top_spenders_df["Price"].sum()

top_spenders_summary_df = pd.DataFrame({
    "Purchase Count": sn_purchase_count,
    "Average Purchase Price": top_avg_purch_price,
    "Total Purchase Value": top_total_purch_price
})

sorted_top_spenders_summary_df = top_spenders_summary_df.sort_values(by="Total Purchase Value", ascending=False).head()

format_sorted_top_spenders_summary_df = sorted_top_spenders_summary_df.style.format({
    "Average Purchase Price": "${0:,.2f}",
    "Total Purchase Value": "${0:,.2f}"
})

format_sorted_top_spenders_summary_df